<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <style>
        body{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    </style>
</head>
<body>
    <h1>URl-shortener</h1>
    <!-- here {locals} used as object and variable(is) here come or render from url/controller/handleGenerateShortUrl function -->
    <% if (locals.id) { %>
        <p>URL generated :http://localhost:8001/url/<%= id %></p>
    <% } %>
     
    <!-- if we give url link in form it pass the url to /url route -->
    <div>
        <form method="post" action="/url" >
            <label>enter your original url</label>
            <input 
            type="text" 
            name="url" 
            placeholder="http://example.com">
        </form>
        <button type="submit">generate</button>
    </div>
    <div>
        <!-- if user hit / req in staticroute variable(urls) render from /routes/staticroute -->
        <% if (locals.urls) { %>
            <table>
                <thead>
                    <th>S.No</th>
                    <th>shortID</th>
                    <th>redirect</th>
                    <th>clicks</th>
                </thead>
                <tbody>
                    <% urls.forEach((url,index) => { %>
                    <tr>
                        <td><%= index+1 %></td>
                        <td><%= url.shortId %></td>
                        <td><%= url.redirectURL %></td>
                        <td><%= url.visitHistory.length %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</body>
</html>